<ng-container *ngIf="session$ | async as session">
  <mat-toolbar class="w-full">
    <div class="w-full max-w-7xl m-auto flex justify-between items-center">
      <h1 class="text-xl text-gray-800 font-bold">Tasks Manager</h1>

      <ul class="flex items-center gap-4">
        <li>
          <span class="text-gray-800 text-base">
            Welcome, {{ session.email }}!
          </span>
        </li>
        <li>
          <button mat-flat-button color="warn" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</ng-container>
